# IntelliJ
.idea/
*.iml
*.iws

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Environment files
.env

# Eclipse (se mai lo usi)
.classpath
.project
.settings/
